.pokemon-details h1,
.pokemon-details h2,
.pokemon-details h3,
.pokemon-details h4,
.pokemon-details h5,
.pokemon-details h6,
p {
  color: white;
  text-align: center;
}

.progress {
  background-color: transparent;
}

.left-header {
  text-align: end;
}

.generation-selected {
  text-decoration: underline !important;
  color: orchid !important;
}
