.progress {
  background-color: transparent;
}

.left-header {
  text-align: end;
}

.generation-selected {
  text-decoration: underline !important;
  color: orchid !important;
}

.pokemon-container {
  margin-top: 57px;
}

.rotate-180 {
  transform: rotate(180deg);
}

.arrow-icon-text {
  font-size: 15px;
}

.nav-heading {
  border-bottom-color: transparent;
}

.active-tab {
  background-color: #57595c;
  border-color: #6e737a !important;
}

.info-box {
  width: 400px;
  display: flex;
  align-items: center;
}
